{% extends 'base.html' %}

{% block title %} About Me {% endblock title %}
{% load static %}

{% block content %}

<section class="about-section center-row">

    <div class="about-image-container center-row">
        <img src="{% static './img/logo.png' %}" alt="logo">
    </div>

    <div class="about-description-container center-column">

        <h1>My Rol as Developer</h1>
        <h2>My Name Here</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint hic eius minus, ratione nobis delectus itaque
            non dolorem libero quos. Ad enim magni praesentium labore ut quos corporis laboriosam ipsam!
            Laboriosam a porro corrupti, veniam labore, nam ex sint delectus soluta, vitae eveniet fugiat doloremque
            maiores alias veritatis quasi iure dolorum molestias debitis quam voluptatum dicta consequatur? Voluptates,
            dicta quidem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure praesentium, aliquid ducimus illo
            ipsa voluptate eligendi, aperiam voluptates reiciendis quidem sint exercitationem nam quia ex, consequuntur
            magnam ea harum!
            Laborum quae eveniet qui unde hic. Iure, quisquam, veniam ex explicabo hic a similique labore eveniet odit
            autem delectus! Necessitatibus consectetur amet ipsa ab porro aliquam, nobis eos voluptatem pariatur.
            Magni dolores, nihil nobis tenetur recusandae voluptatum fugiat, explicabo cumque ducimus sapiente officia
            vel nemo quas, repudiandae accusantium. Dicta aliquam facere cumque eius numquam consectetur repellat
            voluptatibus est autem. Voluptatum!
            Sed animi beatae rerum, ea quis incidunt totam amet nam hic consequatur, a blanditiis quo vitae eveniet
            laudantium optio, nulla facilis. Voluptas animi ipsum, sit deserunt repudiandae assumenda at in.
            Placeat perferendis ratione, labore et provident molestiae, ad non architecto ipsam dolorem distinctio
            voluptates enim praesentium. Porro voluptatem illo sit, vero explicabo quaerat. Ipsum veniam fugit unde
            officiis illo voluptatibus.</p>

        <div class="skills-container center-column">
            <h2>Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>

        </div>

    </div>

</section>

{% endblock content %}