{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="{% static './css/base.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel="stylesheet" href="{% static './css/section.css' %}">
    <link rel="stylesheet" href="{% static './css/responsive.css' %}">


    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header class="center-row">
        <!-- Left Section -->
        <div class="logo center-row">
            <a href="">
                <h2>Fernanda Murillo</h2>
            </a>
        </div>

        <!-- Right Section -->
        <nav class="nav-menu">

            <!-- Hamburger Button -->
            <input type="checkbox" id="checkBox">

            <div class="hamburger-btn">
                <label for="checkBox">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <!-- Menu Options -->
            <div class="nav-options center-row">
                <a href="">About Me</a>
                <a href="">Projects</a>
                <a href="">Experience</a>
                <a href="">Contact Me</a>
            </div>
        </nav>

    </header>

    {% block content %}

    {% endblock content %}

</body>

</html>